<section class="container">
  <h1>{{ title }}</h1>
  <h1 class="erro">{{ msgErros.registerUserGeral }}</h1>
  <form class="form" [formGroup]="formRegister">
    <div class="btnsSec">
      <button class="btnSec {{ isSec(1) }}" (click)="goSec(1)" type="button">
        1
      </button>
      <button class="btnSec {{ isSec(2) }}" (click)="goSec(2)" type="button">
        2
      </button>
      <button class="btnSec {{ isSec(3) }}" (click)="goSec(3)" type="button">
        3
      </button>
    </div>

    <div *ngIf="sec == 1" class="sec">
      <div class="inputContainer">
        <label for="nome">Nome</label>
        <input
          id="nome"
          type="text"
          [(ngModel)]="user.nome"
          formControlName="nome"
          placeholder="Digite seu Nome"
        />
        <p class="line"></p>
        <div class="erro">
          <p
            *ngIf="
              formRegister.get('nome')?.errors &&
              formRegister.get('nome')?.touched &&
              (formRegister.get('nome')?.errors)!['required']
            "
          >
            Esse campo é obrigatório!
          </p>
          <p *ngIf="!formRegister.get('nome')?.touched">
            {{ msgErros.registerUserNome }}
          </p>
        </div>
      </div>

      <div class="inputContainer">
        <label for="email">E-Mail</label>
        <input
          id="email"
          type="email"
          [(ngModel)]="user.email"
          formControlName="email"
          placeholder="Digite seu E-Mail"
        />
        <p class="line"></p>
        <div class="erro">
          <p
            *ngIf="
              formRegister.get('email')?.errors &&
              formRegister.get('email')?.touched &&
              (formRegister.get('email')?.errors)!['required']
            "
          >
            Esse campo é obrigatório!
          </p>
          <p
            *ngIf="
              formRegister.get('email')?.errors &&
              formRegister.get('email')?.touched &&
              (formRegister.get('email')?.errors)!['email']
            "
          >
            E-Mail deve ser válido!
          </p>
          <p *ngIf="!formRegister.get('email')?.touched">
            {{ msgErros.registerUserEmail }}
          </p>
        </div>
      </div>

      <div class="btns">
        <button class="btn" routerLink="/home">Cancelar</button>
        <button class="btn" (click)="goSec(2)">Próximo</button>
      </div>
    </div>

    <div *ngIf="sec == 2" class="sec">
      <div class="inputContainer">
        <label for="login">Login</label>
        <input
          id="login"
          type="text"
          [(ngModel)]="user.login"
          formControlName="login"
          placeholder="Digite seu Login"
        />
        <p class="line"></p>
        <div class="erro">
          <p
            *ngIf="
              formRegister.get('login')?.errors &&
              formRegister.get('login')?.touched &&
              (formRegister.get('login')?.errors)!['required']
            "
          >
            Esse campo é obrigatório!
          </p>
          <p>
            {{ msgErros.registerUserLogin }}
          </p>
        </div>
      </div>

      <div class="inputContainer">
        <label for="senha">Senha</label>
        <div class="wrapper">
          <input
            id="senha"
            #passwordInput
            type="password"
            [(ngModel)]="user.senha"
            placeholder="Digite seu Senha"
            [(ngModel)]="user.senha"
            formControlName="senha"
          />
          <img
            src="assets/eye-{{ passwordEyeIs() }}.png"
            (click)="changePasswordEye()"
            alt="Ícone Senha"
          />
        </div>
        <p class="line"></p>
        <div class="erro">
          <p
            *ngIf="
              formRegister.get('senha')?.errors &&
              formRegister.get('senha')?.touched &&
              (formRegister.get('senha')?.errors)!['required']
            "
          >
            Esse campo é obrigatório!
          </p>
          <p *ngIf="!samePassword()">As senhas devem ser iguais!</p>
          <p *ngIf="!formRegister.get('senha')?.touched">
            {{ msgErros.registerUserSenha }}
          </p>
        </div>
      </div>

      <div class="inputContainer">
        <label for="confSenha">Confirmar Senha</label>
        <div class="wrapper">
          <input
            id="confSenha"
            #confirmPasswordInput
            type="password"
            [(ngModel)]="userConfirmSenha"
            placeholder="Digite seu Senha"
            formControlName="confirmSenha"
          />
          <img
            src="assets/eye-{{ confirmPasswordEyeIs() }}.png"
            (click)="changeConfirmPasswordEye()"
            alt="Ícone Senha"
          />
        </div>
        <p class="line"></p>
        <div class="erro">
          <p
            *ngIf="
              formRegister.get('confirmSenha')?.errors &&
              formRegister.get('confirmSenha')?.touched &&
              (formRegister.get('confirmSenha')?.errors)!['required']
            "
          >
            Esse campo é obrigatório!
          </p>
          <p *ngIf="!samePassword()">As senhas devem ser iguais!</p>
          <p *ngIf="!formRegister.get('confirmSenha')?.touched">
            {{ msgErros.registerUserSenha }}
          </p>
        </div>
      </div>

      <div class="btns">
        <button class="btn" (click)="goSec(1)">Anterior</button>
        <button class="btn" (click)="goSec(3)">Próximo</button>
      </div>
    </div>

    <div *ngIf="sec == 3" class="sec">
      <div class="menuConstas">
        <button
          class="btn {{ isTipConta(1) }}"
          (click)="goTipConta(1)"
          type="button"
        >
          NORMAL
        </button>
        <button
          class="btn {{ isTipConta(2) }}"
          (click)="goTipConta(2)"
          type="button"
        >
          ESPECIAL
        </button>
        <button
          class="btn {{ isTipConta(3) }}"
          (click)="goTipConta(3)"
          type="button"
        >
          PREMIUM
        </button>
      </div>

      <div *ngIf="tipConta == 1" class="conta">
        <span
          >Criar Conta do Tipo NORMAL?
          <button
            class="checkbox {{ isPossuirContaNormal() }}"
            type="button"
            (click)="terContaNormal()"
          ></button
        ></span>
        <div class="register" *ngIf="possuirContaNormal">
          <div class="comboboxs">
            <div class="comboboxContainer">
              <label for="banco">Banco</label>
              <select
                id="banco"
                formControlName="banco"
                (click)="onListAgencias()"
              >
                <option disabled [ngValue]="null">Escolha um Banco</option>
                <option *ngFor="let banco of bancos" [value]="banco.id">
                  {{ banco.id }} | {{ banco.nome }} | {{ banco.pais.nome }}
                </option>
              </select>
            </div>

            <div class="comboboxContainer">
              <label for="agencia">Agência</label>
              <select id="agencia" formControlName="agencia">
                <option disabled [ngValue]="null">Escolha um Agência</option>
                <option *ngFor="let agencia of agencias">
                  {{ agencia.id }} | {{ agencia.nome }}
                </option>
              </select>
            </div>
          </div>
          <div class="erroComboBox">
            <p>{{ msgErros.registerUserBanco }}</p>
            <p>{{ msgErros.registerUserAgencia }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="tipConta == 2" class="conta">
        <span
          >Criar Conta do Tipo ESPECIAL?
          <button
            class="checkbox {{ isPossuirContaEspecial() }}"
            type="button"
            (click)="terContaEspecial()"
          ></button
        ></span>
        <div class="register" *ngIf="possuirContaEspecial">
          <div class="comboboxs">
            <div class="comboboxContainer">
              <label for="banco">Banco</label>
              <select
                id="banco"
                formControlName="banco"
                (click)="onListAgencias()"
              >
                <option disabled [ngValue]="null">Escolha um Banco</option>
                <option *ngFor="let banco of bancos" [value]="banco.id">
                  {{ banco.id }} | {{ banco.nome }} | {{ banco.pais.nome }}
                </option>
              </select>
            </div>

            <div class="comboboxContainer">
              <label for="agencia">Agência</label>
              <select id="agencia" formControlName="agencia">
                <option disabled [ngValue]="null">Escolha um Agência</option>
                <option *ngFor="let agencia of agencias">
                  {{ agencia.id }} | {{ agencia.nome }}
                </option>
              </select>
            </div>
          </div>
          <div class="erroComboBox">
            <p *ngIf="this.bancos.length == 0">Não há Bancos Cadastrados</p>
            <p *ngIf="this.agencias.length == 0 && idBanco >= 1">
              Esse Banco não Possui Agências Cadastradas
            </p>
          </div>

          <div class="checkboxs">
            <span
              >Cartão de Crédito?
              <button
                class="checkbox {{ isPossuirContaEspecialCartaoDeCredito() }}"
                type="button"
                (click)="terContaEspecialCartaoDeCredito()"
              ></button
            ></span>
          </div>
        </div>
      </div>

      <div *ngIf="tipConta == 3" class="conta">
        <span
          >Criar Conta do Tipo PREMIUM?
          <button
            class="checkbox {{ isPossuirContaPremium() }}"
            type="button"
            (click)="terContaPremium()"
          ></button
        ></span>
        <div class="register" *ngIf="possuirContaPremium">
          <div class="comboboxs">
            <div class="comboboxContainer">
              <label for="banco">Banco</label>
              <select
                id="banco"
                formControlName="banco"
                (click)="onListAgencias()"
              >
                <option disabled [ngValue]="null">Escolha um Banco</option>
                <option *ngFor="let banco of bancos" [value]="banco.id">
                  {{ banco.id }} | {{ banco.nome }} | {{ banco.pais.nome }}
                </option>
              </select>
            </div>

            <div class="comboboxContainer">
              <label for="agencia">Agência</label>
              <select id="agencia" formControlName="agencia">
                <option disabled [ngValue]="null">Escolha um Agência</option>
                <option *ngFor="let agencia of agencias">
                  {{ agencia.id }} | {{ agencia.nome }}
                </option>
              </select>
            </div>
          </div>
          <div class="erroComboBox">
            <p *ngIf="this.bancos.length == 0">Não há Bancos Cadastrados</p>
            <p *ngIf="this.agencias.length == 0 && idBanco >= 1">
              Esse Banco não Possui Agências Cadastradas
            </p>
          </div>

          <div class="checkboxs">
            <span
              >Cartão de Crédito?
              <button
                class="checkbox {{ isPossuirContaPremiumCartaoDeCredito() }}"
                type="button"
                (click)="terContaPremiumCartaoDeCredito()"
              ></button
            ></span>

            <span
              >Cheque Especial?
              <button
                class="checkbox {{ isPossuirContaPremiumLIS() }}"
                type="button"
                (click)="terContaPremiumLIS()"
              ></button
            ></span>
          </div>
        </div>
      </div>

      <div class="btns">
        <button class="btn" (click)="goSec(2)">Anterior</button>
        <button class="btn" (click)="onSubmit()">Cadastrar</button>
      </div>
    </div>
  </form>
</section>
