@import "/src/vars.scss";

.container {
  background-color: $cor-azul;
  height: max(100dvh, 100px);
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  & > h1 {
    color: $cor-branco;
    text-align: center;
    margin: 0 5rem;
  }
}

.btnsSec {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSec {
  @include circulo(30px);
  border: none;
  @include sombraN(-3px, 4px, 3px, 0, 0, 0, 0.25);
  margin: 0 1.5rem;
  background-color: $cor-azul-escuro;
  color: $cor-branco;

  &:hover {
    @include sombraN(-3px, 4px, 3px, 0, 0, 0, 0.5);
    font-weight: bold;
  }
}

.inputContainer {
  width: 75%;
}

.sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;

  @media (max-width: $size-mobile) {
    flex-direction: column;

    & * {
      margin: 0.5rem;
    }
  }
}

.menuConstas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn {
    width: 25%;
    margin: 0 1rem;
  }
}

.comboboxContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 100%;

  * {
    color: $cor-branco;
  }

  label {
    font-size: 25px;
    font-weight: bolder;
    margin: 0.5rem 0;
  }

  select {
    background-color: $cor-azul-escuro;
    height: 2.5rem;
    appearance: none;
    border: none;
    outline: none;
    text-align: center;
    font-size: 15px;

    option:first-child {
      pointer-events: none;
    }
  }
}

.conta {
  margin: 1rem 0;
  width: 100%;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cor-branco;
    font-size: 20px;
    font-weight: bold;

    .checkbox {
      @include circulo(20px);
      border: none;
      margin: 0 1rem;
    }
  }
}

.comboboxs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.erro {
  color: $cor-vermelho !important;
  font-style: italic;
}

.erroComboBox {
  width: 100%;
  height: 1rem;
  text-align: center;

  p {
    font-size: 15px;
    font-weight: bold;
    color: $cor-vermelho;
    font-style: italic;
  }
}

.red {
  background-color: $cor-vermelho;
}

.green {
  background-color: $cor-verde;
}

.blueGray {
  background-color: $cor-azul-cinza-clarissimo;
}

.gray {
  background-color: $cor-cinza-clarissimo;
}

.checkboxs {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: $size-mobile) {
    flex-direction: column;
    & * {
      margin: 1rem 0;
    }
  }
}
