<section class="container">
  <h1>Preencha os dados da Transferência</h1>
  <form class="form" [formGroup]="formTransf">
    <div class="inputContainer">
      <label for="valor">Valor que Será Enviado</label>
      <p-inputNumber
        class="input"
        formControlName="valor"
        inputId="minmaxfraction"
        mode="decimal"
        name="valor"
        id="valor"
        placeholder="Valor da Transferência"
        [minFractionDigits]="1"
        [maxFractionDigits]="2"
        [min]="1"
        [maxlength]="12"
      >
      </p-inputNumber>
      <div
        class="mensagem_erro"
        *ngIf="
          formTransf.get('valor')?.errors && formTransf.get('valor')?.touched
        "
      >
        <span *ngIf="formTransf.get('valor')!.errors!['required']"
          >Esse campo é obrigatório!</span
        >
      </div>
    </div>

    <div class="inputContainer">
      <label for="idConta">ID da Conta de Destino</label>
      <p-inputNumber
        class="input"
        formControlName="idDestino"
        name="idConta"
        id="idConta"
        placeholder="ID da Conta"
        mode="decimal"
        inputId="withoutgrouping"
        [useGrouping]="false"
        [min]="1"
        [maxlength]="9"
      >
      </p-inputNumber>
      <div
        class="mensagem_erro"
        *ngIf="
          formTransf.get('idDestino')?.errors &&
          formTransf.get('idDestino')?.touched
        "
      >
        <span *ngIf="formTransf.get('idDestino')!.errors!['required']"
          >Esse campo é obrigatório!</span
        >
      </div>
    </div>

    <button
      [class]="habilitarBotao()"
      [disabled]="this.formTransf.invalid"
      (click)="onSubmit()"
      type="submit"
    >
      Transferir
    </button>
  </form>
</section>
