@import "/src/vars.scss";

.container {
  display: flex;
  height: max(100dvh, 100px);
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 25px 0;
  padding: 10px 2.5px 0 7.5px;

  label {
    font-size: large;
    font-weight: bolder;
    color: $cor-azul-escuro;
  }

  &:hover,
  &:focus-within {
    background-color: rgba(100, 100, 100, 0.1);
    @include sombra(5px, 5px, 10px, 0.5);
  }

  input {
    font-size: large;
    caret-color: $cor-azul-escuro;
    outline: none;
    width: 40dvw;
    padding: 10px 15px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid $cor-azul-escuro;
    background: none;
    color: $cor-branco;

    &::placeholder {
      color: $cor-azul-cinza;
      font-style: italic;
      opacity: 50%;
    }
  }
}

.images,
.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  width: 50%;
  background-color: aqua;
}

.login {
  padding: 0 2.5%;
  width: 45%;
  color: $cor-branco;
  background-color: $cor-azul;
  display: flex;
  flex-direction: column;
  @include sombra(-2px, 0px, 7px, 0.5);
}

.lnr-eye {
  height: 30px;
  position: absolute;
  right: 5dvw;
  transform: translateY(40%);
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.botao_desabilitado,
.botao {
  width: 40%;
  height: 2rem;
  font-weight: bolder;
  border-radius: 1rem;
  border: none;
  @include sombra(2px, 2px, 7px, 0.5);
  transition: all 1s ease;
}

.botao {
  background-color: $cor-azul-escuro;
  color: $cor-branco;

  &:hover {
    background-color: $cor-azul-cinza;
    color: $cor-azul-escuro;
    cursor: pointer;
  }
}

.botao_desabilitado {
  background-color: $cor-azul-cinza;
  color: $cor-azul-escuro;

  &:hover {
    cursor: not-allowed;
  }
}

@media (max-width: 800px) {
  .images {
    display: none;
  }

  .botao_desabilitado,
  .botao {
    width: 70%;
    height: 2.5rem;
    font-weight: bolder;
    border-radius: 1rem;
  }

  .login {
    height: auto;
    width: 100%;
  }

  .input input {
    width: 70dvw;
  }

  .lnr-eye {
    right: 15dvw;
  }
}

.mensagem_erro {
  font-size: 15px;
  color: red;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
}
