@import "/src/vars.scss";

$size-icon: 3rem;

.container {
  display: flex;
  height: max(100dvh, 100px);
  background-color: $cor-azul-cinza-clarissimo;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;

  @media (max-width: $size-mobile) {
    height: max(calc(100dvh - 2rem), 100px);
    flex-direction: column;
    display: block;
    padding: 1rem;
  }
}

.icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size-icon;
  height: $size-icon;
  border-radius: 50%;

  img {
    width: 60%;
    height: auto;
  }

  &:hover {
    background-color: $cor-azul-escuro;
    @include sombra(-1.5px, 3px, 3px, 0.25);
    cursor: pointer;
  }
}

.page {
  background-color: $cor-branco;
  height: calc(100% - 12rem);
  width: calc(100% - 12rem);
  margin: 0 5rem;
  padding: 3rem;
  border-radius: $size-icon;
  @include sombra(-3px, 3px, 5px, 0.5);

  @media (max-width: $size-mobile) {
    height: 73%;
    width: calc(100% - 2rem);
    padding: 1rem;
    margin: 0;
    @include sombra(0px, 0px, 0px, 0);
    border-radius: 0 0;
  }
}

.menu {
  background-color: $cor-azul;
  border-radius: $size-icon;
  padding: 0.75rem;
  position: absolute;
  left: 2.5rem;
  @include sombra(-3px, 3px, 5px, 0.5);

  li {
    &:first-child {
      margin: 0 0 calc($size-icon/2) 0;
    }

    &:last-child {
      margin: calc($size-icon/2) 0 0 0;
    }

    margin: calc($size-icon/2) 0;
  }

  @media (max-width: $size-mobile) {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      li {
        &:first-child {
          margin: 0 0 0 calc($size-icon/2);
        }

        &:last-child {
          margin: 0 calc($size-icon/2) 0 0;
        }

        margin: 0 calc($size-icon/2);
      }
    }
    background-color: $cor-azul;
    border-radius: 0 0 $size-icon $size-icon;
    position: relative;
    left: 0;
    @include sombra(0, 0, 0, 0);
  }
}

.logo {
  background-color: $cor-azul;
  border-radius: $size-icon;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $cor-branco;
  font-weight: bolder;
  font-size: larger;
  position: absolute;
  left: 10rem;
  top: 1.25rem;
  @include sombra(-1.5px, 1.5px, 3px, 0.5);
  width: 7.5rem;
  height: 2rem;

  &:hover {
    background-color: $cor-azul-escuro;
    cursor: pointer;
  }

  @media (max-width: $size-mobile) {
    left: 0;
    top: 0;
    width: calc(100% - 1.5rem);
    position: relative;
    @include sombra(0px, 0px, 0px, 0);
    border-radius: $size-icon $size-icon 0 0;
  }
}
