@import "/src/vars.scss";

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.saldo {
  width: 12.5rem;
  height: 3rem;

  &:hover {
    scale: 102.5%;
    cursor: pointer;
  }

  span {
    font-size: x-large;
    font-weight: bolder;
  }
}

.saldos {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
}

.card {
  border: 3px solid $cor-azul-escuro;
  border-radius: 1.5rem;
  @include sombra(-1px, 1px, 3px, 0.5);
  padding: 1rem;
  margin: 0.75rem;
}

.extrato {
  width: 90%;
  height: 15rem;
  overflow: hidden;
}

.line {
  background-color: $cor-azul-escuro;
  height: 2px;
  @include sombra(0, 1px, 2px, 1);
}

.transferencias {
  overflow-y: auto;
  height: 92.5%;
}

.pesquisa {
  border: none;
  width: auto;
  font-size: large;
  margin: 0.25rem 1rem;
  outline: none;

  &::placeholder {
    font-style: italic;
  }
}

.transferencia {
  &:hover {
    cursor: pointer;
  }

  border: 3px solid $cor-azul-escuro;
  border-radius: 1.5rem;
  @include sombra(-1px, 1px, 3px, 0.5);
  margin: 0.75rem;
  display: flex;
  overflow: hidden;
  height: 4.5rem;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    border-left: 3px solid $cor-azul-escuro;
  }

  .id {
    grid-area: id;
    border-left: none;
    width: 2.5%;
  }

  .valor {
    grid-area: valor;
    width: 20%;
  }

  .horario {
    grid-area: horario;
    width: 7.5%;
    text-align: center;
  }

  .individuos {
    width: 40%;
    flex-direction: column;
    grid-area: individuos;
  }

  .realizado {
    width: 30%;
    color: $cor-branco;
    font-weight: bold;
    grid-area: realizado;
  }

  @media (max-width: $size-mobile) {
    display: grid;
    grid-template-areas:
      "id horario"
      "valor valor"
      "individuos individuos"
      "realizado realizado";
    height: auto;

    & > * {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      width: 100%;
      border-top: 3px solid $cor-azul-escuro;
    }

    .id,
    .horario {
      border-top: 0;
    }

    .horario {
      border-left: 3px solid $cor-azul-escuro;
    }

    .id,
    .valor,
    .horario,
    .individuos,
    .realizado {
      width: auto;
      text-align: center;
    }
  }
}

.sucesso {
  background-color: $cor-verde;
}

.fail {
  background-color: $cor-vermelho;
}
