<section>
  <div class="btnsSec">
    <button
      *ngIf="user.contaNormal != null"
      class="btnSec {{ isSec(1) }}"
      (click)="goSec(1)"
      type="button"
    >
      N
    </button>
    <button
      *ngIf="user.contaEspecial != null"
      class="btnSec {{ isSec(2) }}"
      (click)="goSec(2)"
      type="button"
    >
      E
    </button>
    <button
      *ngIf="user.contaPremium != null"
      class="btnSec {{ isSec(3) }}"
      (click)="goSec(3)"
      type="button"
    >
      P
    </button>
  </div>

  <div class="saldos">
    <div *ngIf="sec != 1" class="card saldo">
      <p>Saldo Total:</p>
      <p>
        {{ moeda.simbolo
        }}<span>{{ getSaldoTotal(conta) }}</span>
      </p>
    </div>

    <div class="card saldo">
      <p>Saldo:</p>
      <p>
        {{ moeda.simbolo }} <span>{{ conta.saldo }}</span>
      </p>
    </div>

    <div *ngIf="sec == 3" class="card saldo">
      <p>Cheque Especial:</p>
      <p>
        {{ moeda.simbolo }}
        <span>{{ conta.saldoLis }}</span>
      </p>
    </div>

    <div *ngIf="sec != 1" class="card saldo">
      <p>Cartão de Crédito:</p>
      <p>
        {{ moeda.simbolo }}
        <span>{{ conta.saldoCartaoDeCredito }}</span>
      </p>
    </div>
  </div>

  <div class="card extrato">
    <h1>
      <label for="pesquisa">Extrado:</label>
      <input
        id="pesquisa"
        class="pesquisa"
        placeholder="Pesquise uma Transferência"
        type="text"
      />
    </h1>
    <div class="line"></div>
    <div
      class="transferencias"
      *ngIf="transferencias.length > 0; else extratoVazio"
    >
      <div class="transferencia" *ngFor="let transferencia of transferencias">
        <span class="id">{{ transferencia.id }}</span>

        <span class="valor"
          >{{ transferencia.moeda.simbolo }} {{ transferencia.valor }}</span
        >

        <div class="individuos">
          <span>De: {{ transferencia.nomeUserContaOrigem }}</span>
          <span>Para: {{ transferencia.nomeUserContaDestino }}</span>
        </div>

        <span class="horario">
          {{ transferencia.horarioTranferencia | date : "dd/MM/yyyy HH:mm" }}
        </span>

        <div class="realizado" [ngClass]="sucessoClass(transferencia)">
          {{ sucessoMsg(transferencia) }}
        </div>
      </div>
    </div>
    <ng-template #extratoVazio> Não há registros no Extrato</ng-template>
  </div>
</section>
